extends layout

block head
  link(rel="stylesheet", href="/stylesheets/contatti.css")

block content
    // Contenuto
    .container
        .cellulare.reveal
            img(src='/images/celllogo.jpg')
            p  +39 1234567890
        .email.reveal
            img(src='/images/emaillogo.jpg')
            p  triviastack@gmail.com
        .indirizzo.reveal
            img(src='/images/posizionelogo.jpg')
            p Viale dello Scalo S. Lorenzo 82 - 00159 - Roma(RM)
            
